@use '@angular/material' as mat;

html {
  height: 100%;

  // Mantém o tema claro (Light Mode) com os tons desejados
  @include mat.theme(
    (
      color: (
        theme-type: light,             // Força o fundo claro/branco
        primary: mat.$azure-palette,    // Azul para os elementos principais
        tertiary: mat.$cyan-palette,    // Ciano para os elementos de destaque
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Retorna o navegador para o modo claro
  color-scheme: light;

  // Garante o fundo branco/cinza bem claro nativo do Material Design
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
